[submodule "boring-sys/deps/aws-lc"]
	path = aws-lc-sys/deps/aws-lc
	url = https://github.com/awslabs/aws-lc.git
[submodule "aws-lc-sys/deps/aws-lc-fips"]
	path = aws-lc-sys/deps/aws-lc-fips
	url = https://github.com/justsmth/aws-lc.git
	branch = fips-rust
